doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Website!
        link(rel="stylesheet" href="/css/index.css")
    body 
        h1 Felpzsouls
        img(src="/images/image.gif" class="image")